.mentionsTitle {
    margin: 25px auto;
}
  
.accordionComponent {
    margin: 45px 150px;
}
  
.accordion-body {
    text-align: start;
}
  
.accordion-body i{
    margin: 0 8px 0 0;
}
  
.accordion-body p{
    margin: 5px auto;
}