.modalBtn{
    background-color: red;
    border: transparent;
}
  
.modalBtn:hover{
    background-color: #f16464;
}
  
.modal-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 10px;
}
  
.modal-dialog-centered{
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal-body{
    display: flex;
    justify-content: space-evenly;
    margin: auto 20px;
    text-align: start;
}
  
.modal-info{
    margin-left: 30px;
}
  
.modal-info i{
    margin-right: 10px;
}