.navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link {
  padding-right: 10px;
  text-decoration: none;
  color: grey;
}

.link:hover {
  text-decoration: underline;
  color: white;
}

.container-fluid {
  padding: 0 20px;
}

.Background {
  background-image: url('/public/images/software-developer-6521720_1280.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.profile-container {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  margin: 30px 150px;
  border: transparent;
  box-shadow: -1px 1px 4px 1px grey;
}

.Line {
  border: 1px solid rgb(17, 68, 235);
  height: 3px;
  background-color: rgb(17, 68, 235);
  margin: 15px 0;
  width: 100%;
}

.profile {
  display: flex;
  width: 75vw;
  height: 100vh;
}

.profile img {
  width: 100%;
  height: 50%;
}

.aboutMe, .Skills {
  width: 38vw;
  margin: 10px;
  padding: 20px;
  text-align: start;
}

.aboutMe p {
  margin: 5px 0;
}

.Bars p{
  margin: 0;
}

.htmlBar, .cssBar, .phpBar, .jsBar, .reactBar {
  margin: 10px 0;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
