body {
  font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

.serviceLine, .portfolioLine, .mentionsLine{
  border: 1px solid #1144eb;
  height: 3px;
  background-color: #1144eb;
  width: 37vw;
  margin-left: 31vw;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
